body {
    font-family: Helvetica, Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #222;
    background-color: #e7e7e7;
}

section.carrito {
    border: 3px solid #3337;
    background-color: #f8f8f0;
    padding: 1em;
}

section.carrito h2 {
    text-decoration: underline;
    text-align: center;
}

section.carrito ul {
    list-style-type: circle;
}

.main-footer {
    background-color: #235;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
